.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  color: rgb(100, 100, 100);
  text-align:  center;
  
}

.profile-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: row;
  padding-top: 1%;

}
.profile-photo{
  display:flex;
  margin:auto;
  flex-wrap: wrap;
  img {
    max-width:100%;
    border-radius: 4%;
  }
}
.social-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img{
    max-width: 10%;
    padding-left: 10%;
    transition: all .2s ease-in-out;
  }
  img:hover{
    opacity: 0.5 ;
    transform: scale(1.1);
  }
}

.main {
  display: flex;
  flex:5;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
  justify-items: center;
  .images-wrapper{
    display: flex;
    flex-wrap: wrap;  
    margin:auto;
    max-width : 100%;
    justify-content:center;
    justify-items: center;
    img{
      max-width: 15%;
      border-radius: 5%;
      margin-left:  1%;
      margin-right: 1%;
      margin-top:10%;
    }
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 0.7rem;
  }

}
@media (min-width: 960px) {
  h1 {
    font-size: 0.9rem;
  }

}
@media (min-width: 1100px) {
  h1 {
    font-size: 1.4rem;
  }


}
